<!DOCTYPE html>
<html>
<body>
<h1>Prediction of Iris </h1>
<form action="name" method="post">
    <label for="firstname">Enter Sepal Length: </label>
    <input type="text" name="sl"  required>
    <br>
    <br>
    <label for="firstname">Enter Sepal Width: </label>
    <input type="text" name="sw"  required>
    <br>
    <br>
    <label for="firstname">Enter Petal Length: </label>
    <input type="text" name="pl"  required>
    <br>
    <br>
    <label for="firstname">Enter Petal width: </label>
    <input type="text" name="pw"  required>
    <br>
    <br>
    <input type="submit">
</form>

</body>
</html>